/*COLORS*/
/*BRAND*/
$brand-light: #F67841;
$brand-mid: #F3541C;
$brand-dark: #E43A12;

/*TEXTS*/

$text-primary: #292524;
$text-secondary: #57534E;
$text-tertiary: #8F8881;
$text-highlight: #E43A12;
$semantic-error: #DC2626;

/*SURFACE*/

$surface-primary: #FFF;
$surface-secondary: #FEE7D6;
$surface-disabled: #E7E5E4;

/*STROKE*/

$stroke-default: #D6D3D1;
$stroke-highlight: #F3541C;

/**/